<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "main" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
